:root {
    --primary-color: #42653E;
    --secondary-color: #A0C790;
    --tertiary-color: #fffef2;
    --quatrary-color: #1F381F;
    --quinary-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

/*HEADER STYLES START*/

/*??SOMEWHERE I NEED TO FIX THE NAV BAR TO BE CENTERED??*/
header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/hero-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 75%;
    z-index: 9999;
}

header h1 {
    color: var(--tertiary-color);
    margin:15px;
    text-shadow: 2px 2px #1F381F;
}

header nav {
    margin: 10px 0;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px;
    font-weight: normal;
    font-size: 1.2vw;
    color: var(--tertiary-color);
    text-shadow: 2px 2px #1F381F;
}
/*HEADER STYLES END*/

/*HERO START*/
.hero {
    padding: 100px 20px 0 0;
    background-image: url(../images/hero-1.jpg);
    background-attachment: fixed;
    background-position: 75%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-text {
    font-family: garamond;
    margin-left: auto;
    flex-wrap: wrap;
    color: var(--tertiary-color);
    padding: 5px 5px 15px 0;
    font-weight: bold;
    text-shadow: 2px 2px #1F381F;
}

.hero img {
    width: 15%;
}
/*HERO END*/

.section-title {
    color: var(--quatrary-color);
    width: 50px;
    padding: 5px 15px;
    margin: 10px 10px 10px 30px;
    text-align: right;
    justify-content: right;
    display: flex;
    border-right: 3px solid var(--secondary-color);
}

/*ABOUT ME START*/
.about-text {
    display: flex;
}

.about-text p {
    padding: 5px 30px;
    margin: 20px;
}
/*ABOUT ME END*/

/* WORK START */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card-1 {
    background: var(--primary-color);
    width: 80%;
    height: 100%;   
    padding: 10px;
}

.project-cards img {
    width: 20%;
    padding: 10px;
}
/* WORK END */

/*FOOTER STYLES START*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    padding: 25px;
    font-weight: normal;
    font-size: 1.2vw;
    color: var(--quatrary-color);
    text-shadow: 2px 2px var(--secondary-color);
}
/*FOOTER STYLES END*/

/*MEDIA QUERIES START*/
/*
@media screen and (max-width: 900px) {
   
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}
*/
/*MEDIA QUERIES END*/