:root {
    --primary-color: #193429;
    --secondary-color: #278473;
    --tertiary-color: #fffef2;
    --quatrary-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

/*HEADER STYLES START*/
header {
    padding: 30px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 3px;
    border: 2px solid var(--primary-color);
}

header nav {
    margin: 10px 0;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px;
    font-weight: bold;
    font-size: 1.5vw;
    color: var(--primary-color);
}
/*HEADER STYLES END*/

/*HERO START*/
.hero {
    padding: 50px;
    background-image: url(../images/hero.jpg);
    background-position: 50%;
}

.hero-text {
    display: flex;
    justify-content: right;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: 2px solid var(--quatrary-color);
    padding: 5px;
    /*help pushing text to bottom right corner*/
}
/*HERO END*/

.section-title {
    padding: 0 30px;
    display: flex;
    flex-wrap: flex;
    border: 3px solid var(--secondary-color);
    margin-right: 90%;
}

.work h3 {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

/*FOOTER STYLES START*/
footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    padding: 15px;
    font-weight: bold;
    font-size: 1.5vw;
    color: var(--primary-color);
}
/*FOOTER STYLES END*/